/* comment */

* {
    font-size: 16px;
}

.text {
    font-size: 40px;
}

.text_chunk1 {
	color: green;
}

.text_chunk2 {
    color: blue;
}

.text_highlighted_chunk {
    color: red;
}

.text_untranslated_chunk {
    color: lightgray;
}

.word {
    font-size: 20px;
    color: rgb(211, 31, 46);
}

.dict {
    font-size: 12px;
    font-style: italic;
    color: pink;
}

.meaning {
    color: rgb(141, 197, 141);
}

.reading {
    color: rgb(116, 95, 236);
}