* {
    font-size: 16px;
}

.word {
    font-size: 20px;
    color: rgb(211, 31, 46);
}

.dict {
    font-size: 12px;
    font-style: italic;
    color: pink;
}

.meaning {
    color: rgb(141, 197, 141);
}

.reading {
    color: rgb(116, 95, 236);
}