<head>
    <link rel="stylesheet" type="text/css" href="ytranslation.css">
</head>

{% block cards %}
<div class="word">{{ name }}</div>
{% block dict %}
<div class="dict">{{ dict }}</div>
<table>
    {% block row %}
    <tr>
        <td class="meaning" width="{{ width }}%" colspan="{{ colspan }}">
            {{ meaning }}
        </td>
        {% block reading %}
        <td class="reading" width="20%" align="right">
            {{ reading }}
        </td>
        {% endblock %}
    </tr>
    {% endblock %}
</table><br>
{% endblock %}
{% endblock %}

{% block sub_cards %}
<div class="word">{{ name }}</div>
{% block dict %}
<div class="dict">{{ dict }}</div>
<table>
    {% block row %}
    <tr>
        <td class="meaning" width="{{ width }}%" colspan="{{ colspan }}">
            {{ meaning }}
        </td>
        {% block reading %}
        <td class="reading" width="20%" align="right">
            {{ reading }}
        </td>
        {% endblock %}
    </tr>
    {% endblock %}
</table><br>
{% endblock %}
{% endblock %}