<head>
    <link rel="stylesheet" type="text/css" href="ytranslation.css">
</head>

{% block cards %}
<div class="word">{{ name }}</div>
{% block dict %}
<div class="dict">{{ dict }}</div>
{% block row %}
<div class="reading">{{ reading }}</div>
<div class="meaning">{{ meaning }}</div>
{% endblock %}
{% endblock %}
<br>
{% endblock %}

{% block sub_cards %}
<div class="word">{{ name }}</div>
{% block dict %}
<div class="dict">{{ dict }}</div>
{% block row %}
<div class="reading">{{ reading }}</div>
<div class="meaning">{{ meaning }}</div>
{% endblock %}
{% endblock %}
<br>
{% endblock %}